<html><head>
    <title>%{site_title} — %{page_title}</title>
    <link rel="stylesheet" href="style.css">
</head><body>

<div class="main">
    <div class="header">
        <div class="header_left">
            <h1><a href="/">%{site_title}</a></h1>
            <ul class="nav_main">
                <!--<li><a href="/newest">Newest</a></li>-->
                <li><a href="/submit">Submit</a></li>
            </ul>
        </div>
        <div class="header_center toasts">
%{toasts -> {toast}}
        </div>
        <ul class="header_right nav_user">
%{nav_user}
        </ul>
    </div>
    <div class="body">
%{body}
    </div>
    <hr />
    <div class="footer">©%{current_year} %{site_title}</div>
</div>
</body>
</html>
