<h2>Register</h2>
<form action="/register" method="post">
    <label for="register_name">Name:&nbsp;</label><input name="name" id="register_name" value="%{register_name}" /><br />
    <label for="register_password">Password:&nbsp;</label><input name="password" id="register_password" type="password" /><br />
    <label for="register_password_confirm">Confirm password:&nbsp;</label><input name="password_confirm" id="register_password_confirm" type="password" /><br />
    <input name="remember" id="register_remember" value="remember" type="checkbox" checked/><label for="register_remember">Remember me</label><br />
    <input type="submit" value="Submit" />
</form>
