<p>This is the main page of the website</p>

<h2>Guestbook</h2>
<fieldset><legend>Add post</legend>
    <form action="/guestbook/post" method="post">
        <input name="post_body" />
        <input type="submit" value="Submit" />
    </form>
</fieldset>
%{guestbook_posts}

